@font-face {
    font-family: "vazir";
    src: url(../font/Vazirmatn-Regular.ttf);
}

html{
    scroll-behavior: smooth;
}

*{
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}

body{
    font-family: "vazir";
}

.head{
    display: flex;
    justify-content: space-between;
    margin: 10px 30px;
}

.head img{
    width: 120px;
    margin: auto;
}

.menu-icon{
    height: 40px;
    position: relative;
    top: 40px;
}

.sidebar{
    display: none;
    position: fixed;
    top: 0;
    right: 0;
    height: 100vh;
    width: 200px;
    z-index: 999;
    background-color: #ffffffa6;
    flex-direction: column;
    align-items: flex-start;
    justify-content: flex-start;
}

.sidebar ul li{
    width: 100%;
}

.sidebar a{
    text-decoration: none;
    color: #000;
}

.sidebar a:hover{
    background-color: rgb(180, 217, 250);
    
}

.head button{
    all: unset;
    background-color: rgba(0, 102, 255, 0.76);
    border-radius: 35px;
    height: 30px;
    width: 100p;
    color: #fff;
    font-size: 15px;
    padding: 5px;
    position: relative;
    top: 40px;
    cursor: pointer;
}

.pic-search-box{
    text-align: center;
    height: 400px;
    background-image: url("../picture/10.jpg");
    background-repeat: no-repeat;
    background-size: cover;
    background-color: gray;
    background-blend-mode: multiply;
    padding: 100px;
    color: #ffffff;
}

.pic-search-box h2{
    line-height: 90px;
    font-size: 25px;
}

.option{
    width: 500px;
    display: flex; 
    justify-content: space-between;
    margin: 120px auto;
    font-size: 20px;
}

.option p{
    position: relative;
    left: 65px;
}

.menu-icons{
    height: 50px;
    position: relative;
    bottom: 70px;
    right: 20px;
}

.pic-search-box input{
    width: 300px;
    height: 40px;
    border-radius: 30px 0 0 30px;
    border: 2px solid rgb(88, 87, 87);
}

.pic-search-box button{
    position: relative;
    all: unset;
    background-color: rgb(0, 183, 255);
    margin-left: 0;
    padding: 6px;
    border-radius: 0 30px 30px 0;
    color: rgba(0, 0, 0, 0.781);
    cursor: pointer;
    border: 2px solid rgb(88, 87, 87);
}

.pic-search-box input[placeholder]{
    text-align: center;
    font-family: "ferdosi";
    font-size: 15px;
}

.container{
    max-width: 1200px;
    margin: 0 auto;
    padding: 0 35px;
}

.container h1{
    margin-top: 45px;
    font-size: 25px;
}

.menu-items{
    display: flex;
    flex-wrap: wrap;
    margin: 25px 0;
}

.items{
    margin: 10px auto;
}

.link{
    text-decoration: none;
    color: #fff;
}

.menu-items .items .link .image{
    border-radius: 10px;
    height: auto;
    box-shadow: rgba(17, 17, 26, 0.1) 0px 4px 16px, rgba(17, 17, 26, 0.1) 0px 8px 24px, rgba(17, 17, 26, 0.1)0px 16px 56px;
}

.menu-items .items .link p{
    color: #000;
    text-align: center;
    margin-top: 5px;
}

.menu-foods{
    margin: 20px auto;
    height: 200px;
    border-radius: 5px;
    background-color: rgb(255, 255, 255);
    box-shadow: rgba(17, 17, 26, 0.1) 0px 4px 16px, rgba(17, 17, 26, 0.1) 0px 8px 24px, rgba(17, 17, 26, 0.1)0px 16px 56px;
}

.menu-foods img{
    border-radius: 5px;
    margin: 0 5px;
}

.roler{
    border: 1px solid rgb(0, 110, 255);
}

.titel{
    text-align: center;
    font-size: 25px;
}

.rol{
    display: inline-block;
    border: 2px solid rgb(0, 110, 255);
    height: 50px;
}

.titel1{
    position: relative;
    bottom: 40px;
    right: 10px;
    font-size: 25px;
    font-weight: bold;
}

.footer .about{
    background-color: rgba(40, 105, 245, 0.918);
    text-align: center;
    padding: 30px 30px 0 30px;
    color: #fff;
    height: 520px;
}

.footer .about p{
    margin-top: 15px;
    line-height: 25px;
    text-align: justify;
}

.contact-to-tel{
    display: flex;
    position: relative;
    position: relative;
    bottom: 65px;
}

.contact-to-viryual{
    display: flex;
    justify-self: end;
    position: relative;
    position: relative;
    bottom: 110px;
}

.menu-icon-for-virtual-space{
    height: 30px;
    margin-left: 10px;
    box-shadow: rgba(17, 17, 26, 0.1) 0px 4px 16px, rgba(17, 17, 26, 0.1) 0px 8px 24px, rgba(17, 17, 26, 0.1)0px 16px 56px;

}

.copy-right{
    background-color: rgb(78, 165, 241);
    padding: 5px;
    font-size: 15px;
    text-align: center;
    box-shadow: rgba(17, 17, 26, 0.1) 0px 4px 16px, rgba(17, 17, 26, 0.1) 0px 8px 24px, rgba(17, 17, 26, 0.1)0px 16px 56px;
}

/* کدهای فرم ثبت نام(signin) */
